/bin/
/config/dynamic/*
/config/services_custom.yaml
!/config/dynamic/default.yaml
/public/*
!/public/index.php
!/public/uploads/
!/public/.htaccess
!/public/*.ico
!/public/*.png
!/public/*.svg
!/public/browserconfig.xml
!/public/robots
!/public/site.webmanifest
/src/extensions/
/src/preload.php

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
