/bin/
/config/dynamic/*
/config/services_custom.yaml
!/config/dynamic/default.yaml
/public/*
!/public/index.php
!/public/uploads/
!/public/.htaccess
!/public/*.ico
!/public/*.png
!/public/*.svg
!/public/browserconfig.xml
!/public/robots
!/public/site.webmanifest
/src/extensions/
/var/
/vendor/
/.env.local
/.env.local.php
/.env.*.local
